[submodule "www/public/js_libraries"]
	path = www/public/js_libraries
	url = https://github.com/atomecorp/js_libraries.git
[submodule "www/public/third_parties"]
	path = www/public/third_parties
	url = https://github.com/atomecorp/third_parties.git
[submodule "www/public/js/third_parties"]
	path = www/public/js/third_parties
	url = https://github.com/atomecorp/third_parties.git
