/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/test/test_app
/Gemfile.lock
*.ds_store
*.idea
.idea/
/lib/eVe/
/vendor/assets/application/examples/aXionwithkey.rb
/vendor/assets/application/examples_bck/aXionwithkey.rb
/test/application/index.html
/vendor/assets/src/index.html
/vendor/assets/src/medias/videos/avengers.mp4
/vendor/assets/application/examples/aXion_with_key.rb
/test/automatise/logs/
/test/automated/logs/