*.ds_store
.idea
/eVe/*
/app/temp/*
/app/clients/*
/app/tests/*
/atome/lib/atome/generated_methods/*
/node_modules/*
/platforms/*
/plugins/*
/www/public/medias/e_audios/*
/www/public/medias/e_images/*
/www/public/medias/e_javascripts/*
/www/public/medias/e_rubies/*
/www/public/medias/e_videos/*
/www/public/js/atome.js
/www/public/js/atome_app.js
/www/public/js/atome_medias.js
/www/public/js/third_parties/opal/*
/package.json
/package-lock.json
/Gemfile.lock
/.rakeTasks
/www/public/js/dynamic_libraries/*
/www/public/medias/rubies/examples/!demos.rb
