/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/test/build_test_project.rb
/Gemfile.lock
*.ds_store
*.idea
/vendor/assets/src/js/atome/kernel.js
/vendor/assets/src/js/application.js
/vendor/assets/src/js/aui.js
/vendor/assets/src/js/third_parties/
/vendor/assets/src/js/opal/
/vendor/assets/src/js/third_parties/
