[submodule "www/public/js_libraries"]
	path = www/public/js_libraries
	url = https://github.com/atomecorp/js_libraries.git
[submodule "www/public/js"]
	path = www/public/js
	url = https://github.com/atomecorp/js.git
