* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    /*-webkit-touch-callout: none;*/
    /*-webkit-text-size-adjust: none;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*user-select: none;*/
    /*-ms-user-select: none;*/
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    /*background: rgba(69, 39, 96, 1);*/
    background: rgba(39, 39, 39, 1);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    /*padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);*/
    width: 100%;
    height: 100%;
    z-index: 0;
}


#device {
    left: 0;
    font-size: 25px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.atome {
    pointer-events: auto;
    caret-color: transparent;
    outline: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: absolute;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-overflow-scrolling: touch;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    caret-color: lightgrey;
    caret-shape: bar;
}

.ui-selected{
    border: #00bb00 solid 3px;
}

.ui-selecting{
    border: orange solid 3px;
}

.selected {
    outline: 2px dashed white;
}

#ide_container {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#ide_drag_bar {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgba(54, 54, 54, 1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

#ruby_console_back {
    display: none;
    background-color: rgba(23, 23, 23, 1);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 4;
}

#ruby_console {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    display: none;
    position: absolute;
    margin: 12px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;


    color: rgba(180, 255, 100, 0.5);
    z-index: 5;
}

#console_drag_bar {
    display: none;
    background-color: rgba(54, 54, 54, 1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
}

#atomeZimCanvas {
    z-index: 1;
    width: 100%;
    height: 100%
}




